.layer {
    background-image: url(img/layer_10_24.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}
.text {
    color: white;
    font-size: 60px;
}
.post {
    color:#ffffff;
    font-size: 40px;
}
.mini-post {
    color: white;
    font-size: 20px;
}
.article {
    text-align: center;
    margin-top: 100px;
}
.my-container {
    max-width: 100%;
}
button {
    margin-right: 50px;
}
.layer-2 {
    background-image: url(img/shape_325_107.png);
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;/
    box-sizing: border-box; 
    text-align: center;
}

.block {
    max-width: 100%;
}

.dark {
    color: black;
}
.layer {
    margin-bottom: 250px;
}

.layer-2 {
    margin-bottom: 30px;
}

.container {
    margin-bottom: 30px;
}
.my-footer {
    height: 30vh;
}
